# Stock Market Data

In [55]:
import pandas as pd
from datetime import datetime, timedelta, date
import csv

## Loadind the data

In [2]:
citi = pd.read_csv("C-intra.csv")
goldman = pd.read_csv("GS-intra.csv")
morgan = pd.read_csv("MS-intra.csv")

---

## Overview of the dataframe

In [3]:
citi.head()

     <DATE>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>   <VOL>
0  20191008  100000  67.050   67.05  66.34    66.34  113224
1  20191008  110000  66.320   66.50  66.03    66.50  163117
2  20191008  120000  66.495   66.84  66.19    66.65  105768
3  20191008  130000  66.650   67.17  66.60    66.91   91339
4  20191008  140000  66.920   67.03  66.87    66.87  100957

In [4]:
goldman.head()

     <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0  20191008  100000  197.59  197.71  196.28   196.30  22894
1  20191008  110000  196.30  197.50  195.94   197.50  28411
2  20191008  120000  197.46  198.30  196.61   197.39  25527
3  20191008  130000  197.41  198.78  197.21   197.98  20972
4  20191008  140000  198.01  198.56  197.86   198.05  10451

In [5]:
morgan.head()

     <DATE>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
0  20191008  110000   39.93  40.025  39.78    40.01  33348
1  20191008  120000   40.00  40.150  39.75    40.00  34901
2  20191008  130000   39.96  40.150  39.92    40.02  21383
3  20191008  140000   39.99  40.190  39.99    40.08  13972
4  20191008  150000   40.10  40.150  39.94    39.98  29330

---

## Standardization of data

In [6]:
files = [citi , goldman, morgan]

#### Remove '<' and '>' from columns names

In [7]:
def columns_names(files):
    for data in files:
        data.columns = data.columns.str.replace('<', '').str.replace('>', '')

In [8]:
columns_names(files)

In [9]:
citi.head()

       DATE    TIME    OPEN   HIGH    LOW  CLOSE     VOL
0  20191008  100000  67.050  67.05  66.34  66.34  113224
1  20191008  110000  66.320  66.50  66.03  66.50  163117
2  20191008  120000  66.495  66.84  66.19  66.65  105768
3  20191008  130000  66.650  67.17  66.60  66.91   91339
4  20191008  140000  66.920  67.03  66.87  66.87  100957

#### Standadize date and time

In [10]:
def to_date(files):
    for data in files:
        data['DATE'] = data['DATE'].map(str) + data['TIME'].map(str)
        data["DATE"]= pd.to_datetime(data["DATE"],format="%Y%m%d%H%M%S")
        data.drop(['TIME'],axis=1,inplace=True)

In [11]:
to_date(files)

In [12]:
citi.head()

                 DATE    OPEN   HIGH    LOW  CLOSE     VOL
0 2019-10-08 10:00:00  67.050  67.05  66.34  66.34  113224
1 2019-10-08 11:00:00  66.320  66.50  66.03  66.50  163117
2 2019-10-08 12:00:00  66.495  66.84  66.19  66.65  105768
3 2019-10-08 13:00:00  66.650  67.17  66.60  66.91   91339
4 2019-10-08 14:00:00  66.920  67.03  66.87  66.87  100957

---

## Add stock change for future correlation

The percentage change in stock market is calculated from the price the market had closed the hour before. In the case of the start of the day, we take the closing price from the previous day.

In [13]:
def add_change(files):
    for data in files:
        list_change = []
        for index, row in data.iterrows():
            if index == 0:
                list_change.append(0)
            else:
                res = ((row['CLOSE']) - (data['CLOSE'][index-1])) / (data['CLOSE'][index-1])
                list_change.append(res*100)
        data['%CHANGE'] = list_change

In [14]:
add_change(files)

In [15]:
citi.head()

                 DATE    OPEN   HIGH    LOW  CLOSE     VOL   %CHANGE
0 2019-10-08 10:00:00  67.050  67.05  66.34  66.34  113224  0.000000
1 2019-10-08 11:00:00  66.320  66.50  66.03  66.50  163117  0.241182
2 2019-10-08 12:00:00  66.495  66.84  66.19  66.65  105768  0.225564
3 2019-10-08 13:00:00  66.650  67.17  66.60  66.91   91339  0.390098
4 2019-10-08 14:00:00  66.920  67.03  66.87  66.87  100957 -0.059782

---

####  %Change 1h after every day opening

In [16]:
def add_change2(files):
    for data in files:
        if (data.equals(morgan)):
            list_change = []
            for index, row in data.iterrows():
                if ((row['DATE'].to_pydatetime().hour == 12) & (index != 1)):
                    res = ((row['CLOSE']) - (data['CLOSE'][index - 2])) / (data['CLOSE'][index - 2])
                    list_change.append(res*100)
                else:
                    list_change.append(0)
                
        else:   
            list_change = []
            for index, row in data.iterrows():
                if ((row['DATE'].to_pydatetime().hour == 11) & (index != 1)):
                    res = ((row['CLOSE']) - (data['CLOSE'][index - 2])) / (data['CLOSE'][index - 2])
                    list_change.append(res*100)
                else:
                    list_change.append(0)
                
        data['%CHANGE_1H'] = list_change

In [17]:
add_change2(files)

In [21]:
citi.loc[:10]

,DATE,OPEN,HIGH,LOW,CLOSE,VOL,%CHANGE,%CHANGE_1H
0,2019-10-08 10:00:00,67.050,67.05,66.34,66.340,113224,0.000000,0.000000
1,2019-10-08 11:00:00,66.320,66.50,66.03,66.500,163117,0.241182,0.000000
2,2019-10-08 12:00:00,66.495,66.84,66.19,66.650,105768,0.225564,0.000000
3,2019-10-08 13:00:00,66.650,67.17,66.60,66.910,91339,0.390098,0.000000
4,2019-10-08 14:00:00,66.920,67.03,66.87,66.870,100957,-0.059782,0.000000
5,2019-10-08 15:00:00,66.890,67.11,66.63,66.775,103199,-0.142067,0.000000
6,2019-10-08 16:00:00,66.790,66.97,66.32,66.425,166816,-0.524148,0.000000
7,2019-10-09 10:00:00,66.900,67.18,66.79,67.035,50634,0.918329,0.000000
8,2019-10-09 11:00:00,67.030,67.36,66.85,67.120,86032,0.126799,1.046293
9,2019-10-09 12:00:00,67.160,67.49,66.97,67.290,53317,0.253278,0.000000
10,2019-10-09 13:00:00,67.310,67.42,67.26,67.375,45015,0.126319,0.000000

In [23]:
print(goldman)

                  DATE    OPEN    HIGH     LOW   CLOSE    VOL   %CHANGE  \
0  2019-10-08 10:00:00  197.59  197.71  196.28  196.30  22894  0.000000
1  2019-10-08 11:00:00  196.30  197.50  195.94  197.50  28411  0.611309
2  2019-10-08 12:00:00  197.46  198.30  196.61  197.39  25527 -0.055696
3  2019-10-08 13:00:00  197.41  198.78  197.21  197.98  20972  0.298901
4  2019-10-08 14:00:00  198.01  198.56  197.86  198.05  10451  0.035357
5  2019-10-08 15:00:00  198.04  198.93  197.83  197.97  31249 -0.040394
6  2019-10-08 16:00:00  198.29  198.36  197.11  197.51  34862 -0.232358
7  2019-10-09 10:00:00  198.35  198.72  197.32  198.09  11351  0.293656
8  2019-10-09 11:00:00  198.09  198.68  197.74  198.16  20769  0.035337
9  2019-10-09 12:00:00  198.17  198.40  197.41  198.05  18331 -0.055511
10 2019-10-09 13:00:00  198.12  198.47  197.67  197.97  19491 -0.040394
11 2019-10-09 14:00:00  198.07  198.22  197.41  197.78  18849 -0.095974
12 2019-10-09 15:00:00  197.79  197.81  197.33  197.47  26946 -0.156740
13 2019-10-09 16:00:00  197.44  197.92  196.70  196.77  72374 -0.354484
14 2019-10-10 10:00:00  197.76  200.18  197.74  199.88  14100  1.580525
15 2019-10-10 11:00:00  200.13  200.80  199.17  200.74  19180  0.430258
16 2019-10-10 12:00:00  200.74  201.24  200.45  201.02  19680  0.139484
17 2019-10-10 13:00:00  200.87  201.05  199.80  200.34  17808 -0.338275
18 2019-10-10 14:00:00  200.21  200.21  199.52  200.09  15263 -0.124788
19 2019-10-10 15:00:00  200.01  200.11  198.84  199.84  16771 -0.124944
20 2019-10-10 16:00:00  199.82  200.14  199.55  199.81  27949 -0.015012
21 2019-10-11 10:00:00  204.22  205.67  204.12  205.24  19128  2.717582
22 2019-10-11 11:00:00  205.50  206.20  205.16  206.20  16448  0.467745
23 2019-10-11 12:00:00  206.00  207.25  206.00  206.25  15700  0.024248
24 2019-10-11 13:00:00  206.10  206.18  205.23  205.64  13325 -0.295758
25 2019-10-11 14:00:00  205.90  206.70  205.39  206.66  11180  0.496012
26 2019-10-11 15:00:00  206.69  207.08  206.47  206.74  13499  0.038711
27 2019-10-11 16:00:00  206.74  206.99  204.66  204.66  33796 -1.006095
28 2019-10-14 10:00:00  203.70  204.54  203.03  204.47   9880 -0.092837
29 2019-10-14 11:00:00  204.41  204.41  203.26  204.09  13200 -0.185846
..                 ...     ...     ...     ...     ...    ...       ...
40 2019-10-15 15:00:00  206.53  208.21  206.53  207.25  64909  0.353477
41 2019-10-15 16:00:00  207.23  207.27  206.09  206.68  40862 -0.275030
42 2019-10-16 10:00:00  206.18  207.93  206.11  206.67  21296 -0.004838
43 2019-10-16 11:00:00  206.75  207.89  206.20  206.87  14597  0.096773
44 2019-10-16 12:00:00  206.84  207.74  206.41  207.13  23159  0.125683
45 2019-10-16 13:00:00  207.35  207.44  206.80  207.02  14098 -0.053107
46 2019-10-16 14:00:00  207.00  207.52  206.99  207.24   8757  0.106270
47 2019-10-16 15:00:00  207.25  208.60  207.25  208.56  13535  0.636943
48 2019-10-16 16:00:00  208.48  208.58  207.37  207.37  29916 -0.570579
49 2019-10-17 10:00:00  208.65  208.78  207.51  207.64  15300  0.130202
50 2019-10-17 11:00:00  207.65  207.66  205.37  205.78  30604 -0.895781
51 2019-10-17 12:00:00  205.77  205.78  204.69  204.84  22813 -0.456799
52 2019-10-17 13:00:00  204.83  206.19  204.42  206.19  25573  0.659051
53 2019-10-17 14:00:00  206.11  206.98  205.81  206.86  17099  0.324943
54 2019-10-17 15:00:00  206.75  207.64  206.55  207.59  11882  0.352896
55 2019-10-17 16:00:00  207.53  207.53  206.53  206.55  24060 -0.500988
56 2019-10-18 10:00:00  205.23  206.69  205.23  206.56  17745  0.004841
57 2019-10-18 11:00:00  206.53  206.54  205.83  206.35  10297 -0.101665
58 2019-10-18 12:00:00  206.53  206.82  206.21  206.21  16193 -0.067846
59 2019-10-18 13:00:00  206.09  207.09  205.71  207.08  21897  0.421900
60 2019-10-18 14:00:00  207.23  207.96  207.19  207.96  13707  0.424957
61 2019-10-18 15:00:00  207.97  208.02  207.32  207.41  16415 -0.264474
62 2019-10-18 16:00:00  207.46  207.48  206.71  206.72  27305 -0.332674
63 2019-10-21 10:00:00  207.85  210.78  207.68  209.88  28325  1.528638
64 2019-10-21 11:00:00  209.99  210.46  209.42  209.95  30420  0.033352
65 2019-10-21 12:00:00  209.76  210.54  209.76  210.41  13387  0.219100
66 2019-10-21 13:00:00  210.36  210.36  209.50  209.66   5658 -0.356447
67 2019-10-21 14:00:00  209.75  209.75  208.89  209.06  12050 -0.286178
68 2019-10-21 15:00:00  209.06  209.28  209.00  209.16   8770  0.047833
69 2019-10-21 16:00:00  209.14  209.80  209.00  209.23  33686  0.033467

    %CHANGE_1H
0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.329097
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    2.017584
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    3.198038
23    0.000000
24    0.000000
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29   -0.278511
..         ...
40    0.000000
41    0.000000
42    0.000000
43    0.091930
44    0.000000
45    0.000000
46    0.000000
47    0.000000
48    0.000000
49    0.000000
50   -0.766745
51    0.000000
52    0.000000
53    0.000000
54    0.000000
55    0.000000
56    0.000000
57   -0.096829
58    0.000000
59    0.000000
60    0.000000
61    0.000000
62    0.000000
63    0.000000
64    1.562500
65    0.000000
66    0.000000
67    0.000000
68    0.000000
69    0.000000

[70 rows x 8 columns]

In [52]:
# little hacky code to get changes of a day on one row and make the file titles same as the tweet files

temp = {}

for company in ["Citigroup_", "goldmansachs_", "morganstanley_"]:
    if company == "Citigroup_":
        comp = citi
    elif company == "goldmansachs_":
        comp = goldman
    else:
        comp = morgan
    day_old = ""
    i = 0
    for index, row in comp.iterrows():
        date = str(row["DATE"]).split(" ")
        day = date[0]
        time = date[1]

        # new day, make new key
        if day != day_old:
            day_old = day
            temp[company + day] = [row["%CHANGE"]]
        else:
            temp[company + day].append(row["%CHANGE"])
        i += 1
    
print(temp)

{'Citigroup_2019-10-08': [0.0, 0.24118179077479135, 0.22556390977444465, 0.3900975243810816, -0.05978179644297123, -0.14206669657544319, -0.5241482590790093], 'Citigroup_2019-10-09': [0.9183289424162581, 0.12679943313195788, 0.2532777115613851, 0.12631891811560964, 0.007421150278286386, 0.2077767883645007, -0.1481042654028352], 'Citigroup_2019-10-10': [2.4918421833283784, 0.17366136034732932, -0.05778676683038434, -0.4047412546978912, -0.26124818577649755, -0.11641443538998589, 0.029137529137523342], 'Citigroup_2019-10-11': [2.8109525196621132, -0.09916418756198808, 0.02127056154282554, -0.19848302261288803, 0.277008310249318, 0.07083156254426569, -0.8069082672706787], 'Citigroup_2019-10-14': [-0.2854288568574121, 0.08587376556462326, 0.6721006721006704, 0.07102272727272323, 0.01419446415896509, -0.25546409310245904, -0.08537279453614438], 'Citigroup_2019-10-15': [-0.17089148390772507, 2.482168330955791, -0.30623608017817217, 0.27925160569671686, -0.3480924533556113, 0.11177867821714757, -0.5582693649686052], 'Citigroup_2019-10-16': [-1.291228070175441, 0.07109341674960494, -0.5683432793407097, -0.41440411546156936, 0.014349261013065167, 0.4017216642754679, -0.7002000571592013], 'Citigroup_2019-10-17': [1.036120305079866, -0.8403361344537662, -0.38781959207125855, 0.29560201874551195, 0.30910790022282963, 0.35832019492618605, -0.6141102542130714], 'Citigroup_2019-10-18': [0.3736168989797254, -0.31496062992125823, -0.12925463162428436, 0.2013229795800986, 0.5453501722158373, -0.09991435912076417, -0.32861837405342165], 'Citigroup_2019-10-21': [2.078555045871543, 0.393203201797502, 0.19583158483704094, -0.30713388245148526, -0.15404005041310662, 0.4768583450210427, 0.20938023450587057], 'goldmansachs_2019-10-08': [0.0, 0.611309220580738, -0.05569620253165247, 0.2989006535285493, 0.03535710677847338, -0.04039383993941555, -0.23235843814719803], 'goldmansachs_2019-10-09': [0.293656017416846, 0.0353374728658656, -0.05551069842550728, -0.04039383993941555, -0.095974137495579, -0.15673981191222686, -0.3544842254519616], 'goldmansachs_2019-10-10': [1.5805254866087235, 0.4302581548929426, 0.1394839095347221, -0.3382747985275131, -0.12478786063691723, -0.12494377530111449, -0.015012009607686717], 'goldmansachs_2019-10-11': [2.71758170261749, 0.46774507893197204, 0.024248302618822198, -0.2957575757575824, 0.49601244893989993, 0.0387109261589144, -1.006094611589442], 'goldmansachs_2019-10-14': [-0.09283690022476192, -0.1858463344255859, 0.5487775001224972, 0.13157253545147987, 0.053533190578165094, 0.0875528965416639, 0.0777567186664706], 'goldmansachs_2019-10-15': [-3.2146846015636403, 1.5403140835883764, 1.2254175313766273, 0.663868007419694, 0.14547570555717748, 0.3534766608560864, -0.275030156815437], 'goldmansachs_2019-10-16': [-0.004838397522749819, 0.09677263269948085, 0.1256827959588103, -0.053106744556551545, 0.10626992561105153, 0.6369426751592323, -0.570579209819715], 'goldmansachs_2019-10-17': [0.13020205429907017, -0.8957811596994727, -0.45679852269413823, 0.6590509666080816, 0.3249430137252126, 0.35289567823648343, -0.5009875234837863], 'goldmansachs_2019-10-18': [0.004841442749935079, -0.10166537567777303, -0.06784589290040531, 0.4219000048494275, 0.4249565385358293, -0.2644739372956392, -0.33267441299840783], 'goldmansachs_2019-10-21': [1.5286377708978311, 0.03335239184295463, 0.21909978566325697, -0.35644693693265533, -0.2861776209100421, 0.04783315794508482, 0.033467202141897676], 'morganstanley_2019-10-08': [0.0, -0.024993751562104503, 0.050000000000007816, 0.14992503748124728, -0.24950099800399558, -0.33766883441720363], 'morganstanley_2019-10-09': [1.2423139666206664, 0.24789291026275237, 0.012363996043527592, 0.07417480529113893, 0.3088326127239036, -0.43103448275863115], 'morganstanley_2019-10-10': [2.238713667285099, -0.20566174691507588, 0.09698145229724608, -0.3512171490856147, -0.12153621779289536, -0.09734728644440557], 'morganstanley_2019-10-11': [3.1425091352009895, -0.18894662257913414, -0.04732607666823479, 0.5918560606060606, -0.03530242409978952, -1.3301942319011297], 'morganstanley_2019-10-14': [0.28632784538297434, 0.428265524625267, 0.0710732054015663, -0.1183712121212222, 0.04740459824603728, 0.16583747927031578], 'morganstanley_2019-10-15': [1.4191106906338729, -0.11660447761195024, -0.046696240952594024, 0.1051156271898963, -0.3850192509625462, -0.37479503396579195], 'morganstanley_2019-10-16': [1.0345638372913184, -0.279264603211537, -0.1400233372228758, -0.07010983874737355, 0.2572497661365749, -0.13995801259620988], 'morganstanley_2019-10-17': [3.01331464611072, -0.32879818594105015, -0.5346376976453178, -0.04574565416284543, 0.16018306636155671, -0.7310943568654336], 'morganstanley_2019-10-18': [-0.34522439585732034, 0.04618937644342524, 0.5540166204986195, 0.5853994490358022, -0.05705808513065977, -0.2055263758848968], 'morganstanley_2019-10-21': [2.7459954233409514, 0.07795100222717972, 0.04450873483920334, -0.022244466688906707, 0.13349649571699249, 0.02221975336073327]}

In [57]:
# # write output to match output of prediction

with open('change.csv', 'w') as csvfile:
        filewriter = csv.writer(csvfile, delimiter=',')
        filewriter.writerow(["File", "10", "11", "12", "13", "14", "15", "16"])
        for d in temp:
            change = temp[d]
            filewriter.writerow([d, temp[d][0], temp[d][1], temp[d][2], temp[d][3], temp[d][4], temp[d][5]])